html,
body {
    height: 100%;
    color: #FFFFFF;
    background-color: #D3D38D !important;
    overflow: hidden;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h3 {
	color: black;
}

.info-container {
	width: 100px;
	height: 100px;
}